{% extends "layout.html" %}
{% block body %}

    <div id="status">Connecting ...</div>

    <div id="files">
    {% for file in midi_files%}
        <p class="file {{ loop.cycle('odd', 'even') }}"><a href="javascript:play('{{file}}')">Play</a> | <a href="/delete/{{file}}">Delete</a> | {{file}}</p>
    {% endfor %}
    </div>

    <div id="upload">
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
    </div>

    <script>
        function status() {
            nanoajax.ajax(
			    {url:'/status'},
				 function (code, responseText) {
				    console.log("code: " + code + ", text: " + responseText);
				    if(code == 200) {
				        obj = JSON.parse(responseText);
				        if(obj.playing) {
				            document.getElementById("status").innerHTML = 'Playing "' + obj.file + '" (mirror=' +
				                obj.mirror + '): ' +
				                obj.time + ' / ' + obj.length + ' sec.' + ' | <a href="javascript:stop()">Stop</a>';
				        }
				        else {
				            document.getElementById("status").innerHTML = "Stopped";
				        }
				    }
				 });
        }
        window.setInterval(status, 1000);
    </script>
{% endblock %}